/* base settings */
body {
    font-family: 'poppins', sans-serif;
    margin :0;
    padding : 0;
    overflow-x: hidden;

}

/* visual design - background and overlay */
.app-background{ /*   <div class="app-background"></div>  */
    position:fixed;
    top: 0;
    left:0;
    width:100;
    height:100;
    background-image: url('https://ibb.co/0R523MWL');
    
    background-position: cover; /* collage pic cover full screen */
    background-position: center; /* collage pic center the image */
    z-index: -2; /* -2 sober age collage pic thakbe  */

}

.app-overlay{  /* <div class="app-overlay"></div>  */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 30, 60, 0.85); /* Dark blue overlay with 85% opacity and 15% clear and collage pic blue color effect*/
    z-index:-1; /* -1 collage pic opore thakbe blue color effect */
    
}


/* glass card effect & glassmorphism effect */
.glass-card{
    background:rgb(255, 255, 255, 0.9); /* login page white color  */

    border: 1px solid rgb(255, 255, 255, 0.3); /* semi-transparent white all border */

    box-shadow: 0 8px 32px 0 rgb(0,0,0,0.37); /* shadow effect */

    backdrop-filter: blur (12px); /*  background collage pic blur glass effect */

    -webkit-backdrop-filter: blur(12px); /* for safari , iphone */


    border-radius: 16px; /* rounded corners (login page , i lost , i found buttons) */


}



